{% extends 'index.html' %}
{% load static %}
{% block background_style %}{% endblock %}
{% block content %}

    <div class="h-screen md:bg-fixed bg-cover md:bg-center mb-[-40px] max-w-sm md:max-w-none bg-image-1" style="background-image: url('{% static 'about/callie_1.JPG' %}'">
        <div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-2 lg:pr-4 md:text-center top-[50%] bottom-10 md:mx-auto">
            <span class="grid h-[85vh] place-items-center font-bold text-center md:text-[3rem] content-center text-white">
                <h3 class="">Welcome to<br />
                    Mel Jevins Photography
                </h3>
                <iframe src="https://giphy.com/embed/hJl9v892gjwLEdHoZv" width="153" height="180" frameBorder="0" class="absolute bottom-0"></iframe>
            </span>
        </div>
    </div>
    <div class="h-screen md:bg-fixed bg-cover md:bg-center md:mb-[-40px] max-w-sm md:max-w-none bg-image-2" style="background-image: url('{% static 'about/bandits.JPG' %}'">
        <div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-2 lg:pr-4 md:mx-auto">
            <span class="grid h-[85vh] place-items-center font-bold md:text-[3rem] text-center content-center text-white">
                <h3 class="mt-60 mb-40">Portraits (like my beautiful daughter above) <br />
                    and sports shots are my specialty.
                </h3>
                <iframe src="https://giphy.com/embed/YPsO2ShzhUbH3CWxVl" width="153" height="180" frameBorder="0" class=""></iframe>
            </span>
        </div>
    </div>
    <div class="h-screen md:bg-fixed bg-cover md:bg-center md:mb-[-40px] max-w-sm md:max-w-none bg-image-3" style="background-image: url('{% static 'about/farm.JPG' %}'">
        <div class="w-full sm:w-9/12 lg:w-8/12 px-4 sm:pr-2 lg:pr-4 md:mx-auto">
            <span class="grid h-[85vh] place-items-center font-bold md:text-[3rem] text-center content-center text-white">
                <h3 class="mt-60 mb-20">Check out my portfolio<br />
                    and contact me to get your own photos.
                </h3>
                <div class="flex flex-row justify-between">
                    <a href="{% url 'portfolio' %}"><button class="bg-mel-100 md:px-3 py-2 px-2 rounded-3xl text-2xl font-semibold md:mr-20 mr-5">Portfolio</button></a>
                    <a href="{% url 'about' %}"><button class="bg-mel-100 md:px-3 py-2 px-2 rounded-3xl text-2xl font-semibold md:ml-20 ml-5">About</button></a>
                </div>
            </span>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        function changeBackgroundForSmallScreens() {
            if ($(window).width() <= 767) {
                $(".bg-image-1").css('background-image', 'url({% static "about/callie_homephone.jpg" %})');
                $(".bg-image-2").css('background-image', 'url({% static "about/bandits_phone.jpg" %})');
                $(".bg-image-3").css('background-image', 'url({% static "about/farm_phone.jpg" %})');
            }
        }

        changeBackgroundForSmallScreens();

        $(window).resize(changeBackgroundForSmallScreens);
        });
</script>
{% endblock %}
```