{% for photo in photos %}
    {% if photo.image %}
        <div class="overflow-hidden {% if not photo.landscape %}row-span-2{% else %}row-span-1{% endif %}{% if forloop.last %} last-photo{% endif %}">
            <a href="{{ photo.image.url }}" class="image-link"><img src="{{ photo.image.url }}" class="w-full object-cover" alt="" data-mfp-src="{{ photo.image.url }}"></a>
            {% if forloop.last %}
                <div hx-get="{{ url }}?page={{ page_obj.number|add:1 }}" hx-trigger="revealed" hx-swap="afterend" hx-target="this"></div>
            {% endif %}
        </div>
    {% else %}
    {{ photo.name }} is empty
    {% endif %}
{% endfor %}