{% extends 'index.html' %}
{% block background_style %}{% endblock %}
{% block content %}

<div class="flex flex-col items-center mx-auto pb-4 ">
    <h1 class="w-auto text-3xl my-4 font-bold">{{photo_type.name}}</h1>
    <div class="grid lg:grid-cols-2 xl:grid-cols-3 mx-auto w-3/4 mb-4 gap-x-1 gap-y-1 grid-flow-row-dense">
        {% include "photo_loop.html" %}
    </div>
</div>
<script>
  function initializeMagnificPopup() {
    $('.image-link').magnificPopup({
        type: 'image',
        gallery: { enabled: true },
        mainClass: 'mfp-with-zoom',
        zoom: { enabled: true, duration: 300, easing: 'ease-in-out' }
    });

    $('.image-link').click(function(e) {
        e.preventDefault();
        var url = $(this).data('mfp-src');
        $.get($(this).attr('href'), function(data) {
            $.magnificPopup.open({
                items: { src: data.image_url },
                type: 'image'
            });
        }, 'json');
    });
}

$(document).ready(function() {
    initializeMagnificPopup();
});

// Billy's fix: Reinitialize the fuckin' MagnificPopup after HTMX swaps in new content
document.body.addEventListener('htmx:afterSwap', function() {
    initializeMagnificPopup();
});
</script>
{% endblock %}